<section ng-controller="ChangePasswordCtrl">
    <section class="content">
        <form>
            <label>New Password: 
                <input type="password" placeholder="Password" ng-model="password">
            </label>
            <label>Confirm New Password: 
                <input type="password" placeholder="Confirm New Password" ng-model="confirmPassword">
            </label>
        </form>

        <div class="buttons">
            <button class="main" ng-click="change()">Change</button>
        </div>

    </section>
    <div class="buttons">
        <button class="main" ng-click="$emit('changeTab', 'login')">Already has an account? Login!</button>
        <button class="main" ng-click="$emit('changeTab', 'register')">Have no account? Register!</button>
    </div>
</section>