<section ng-controller="ResetPasswordCtrl">

    <div class="modal" ng-show="showResetModal">
        <div class="overlay" ng-click="showResetModal=false"></div>
        <div class="content">
            {% include 'modals/__resetModal.html' %}
        </div>
    </div>

    <section class="content" ng-show="!showChangePassword">
        <form>
            <label>E-mail: 
                <input type="text" placeholder="E-Mail" ng-model="email">
            </label>
        </form>

        <div class="buttons">
            <button class="main" ng-click="reset()">Reset Password</button>
        </div>
        
    </section>

    <section class="content" ng-show="showChangePassword">
    
        <form>
            <label>New Password: 
                <input type="password" placeholder="Password" ng-model="changePassword.password">
            </label>
            <label>Confirm New Password: 
                <input type="password" placeholder="Confirm New Password" ng-model="changePassword.confirmPassword">
            </label>
        </form>

        <div class="buttons">
            <button class="main" ng-click="change()">Change</button>
        </div>

    </section>

    <div class="buttons">
        <button ng-click="$emit('changeTab', 'login')">Already has an account? Login!</button>
        <button ng-click="$emit('changeTab', 'register')">Have no account? Register!</button>
    </div>

</section>