<section ng-controller="ResetPasswordCtrl">
    <section class="content">
        <form>
            <label>E-mail: 
                <input type="text" placeholder="E-Mail" ng-model="email">
            </label>
        </form>

        <div class="buttons">
            <button class="main" ng-click="send()">Send</button>
        </div>
        
    </section>
    <div class="buttons">
        <button ng-click="$emit('changeTab', 'login')">Already has an account? Login!</button>
        <button ng-click="$emit('changeTab', 'register')">Have no account? Register!</button>
    </div>
</section>